<aside class="sidebar">

  <div class="brand">
    <div class="brand-icon">F</div>

    <div>
      <h1>FinSphere</h1>
      <span>Finance Manager</span>
    </div>
  </div>

  <nav class="navigation">

    <a class="nav-item" routerLink="/">
      <span>⌂</span>
      Dashboard
    </a>

    <a class="nav-item" routerLink="/transactions">
      <span>↕</span>
      Transações
    </a>

    <a class="nav-item">
      <span>◎</span>
      Metas
    </a>

    <a class="nav-item">
      <span>▦</span>
      Categorias
    </a>

  </nav>

  <div class="sidebar-footer">
    <span>FinSphere</span>
    <small>Controle financeiro inteligente</small>
  </div>

</aside>